{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="breadcrumb breadcrumb-1 pos-center">
		<h1>GALLERY</h1>
	</div>
	<div class="content"><!-- Gallery Section -->
		<div class="container">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal]"><h6>2 PHOTOS</h6></a>
				</div>	
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal2]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal2]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal2]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal2]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal2]"><h6>2 PHOTOS</h6></a>
				</div>
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal3]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal3]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal3]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal3]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal3]"><h6>2 PHOTOS</h6></a>
				</div>
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal4]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-4.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal4]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal4]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal4]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal4]"><h6>2 PHOTOS</h6></a>
				</div>
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal5]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-5.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal5]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal5]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal5]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal5]"><h6>2 PHOTOS</h6></a>
				</div>
				<div class="col-lg-4 col-sm-6 gallery-box">
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal6]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-6.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-2.jpg' %}" rel="prettyPhoto[pp_gal6]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a style="display:none;" href="{% static 'djangoweb/temp/room-gallery-image-3.jpg' %}" rel="prettyPhoto[pp_gal6]"><img alt="Gallery" class="img-responsive" src="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}"></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal6]"><h5>SPA CENTER</h5></a>
					<a href="{% static 'djangoweb/temp/room-gallery-image-1.jpg' %}" rel="prettyPhoto[pp_gal6]"><h6>2 PHOTOS</h6></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}