{% load static %}
<div class="header"><!-- Header Section -->
		<div class="pre-header"><!-- Pre-header -->
			<div class="container">
				<div class="row">
					<div class="pull-left pre-address-b">
						<p><i class="fa fa-map-marker"></i> Manhattan square. 124 avenue. Bodrum</p>
					</div>
					<div class="pull-right">
						<div class="pull-left">
							<ul class="navbar-nav mr-auto">
								{% if user.is_authenticated %}
								
									<li class="nav-item">
										<a class="nav-link" href="{% url 'logout' %}">Logout</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Welcome, {{user.username}}</a>
									</li>

								{% else %}

									<li class="nav-item">
										<a class="nav-link" href="{% url 'login' %}">Login</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="{% url 'register' %}">Register</a>
									</li>

								{% endif %}
							</ul>
						</div>
						<div class="pull-right">
							<div class="language-box">
								<ul>
									<li><a href="#"><img alt="language" src="{% static 'djangoweb/temp/english.png' %}"><span class="language-text">ENGLISH</span></a></li>
									<li><a href="#"><img alt="language" src="{% static 'djangoweb/temp/germany.png' %}"><span class="language-text">DEUTSCH</span></a></li>
									<li><a href="#"><img alt="language" src="{% static 'djangoweb/temp/france.png' %}"><span class="language-text">FRANÇAIS</span></a></li>
									<li><a href="#"><img alt="language" src="{% static 'djangoweb/temp/poland.png' %}"><span class="language-text">POLSKI</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-header"><!-- Main-header -->
			<div class="container">
				<div class="row">
					<div class="pull-left">
						<div class="logo">
							<a href="index.html"><img alt="Logo" src="{% static 'djangoweb/img/logo.png' %}" class="img-responsive" /></a>
						</div>
					</div>
					<div class="pull-right">
						<div class="pull-left">
							<nav class="nav">
								<ul id="navigate" class="sf-menu navigate">
									<li class="active">
                                        <a href="{% url 'index' %}">HOMEPAGE</a>
									</li>
									<li>
                                        <a href="{% url 'about' %}">ABOUT</a>
									</li>
                                    <li>
                                        <a href="{% url 'gallery' %}">GALLERY</a>
									</li>
									<li>
                                        <a href="{% url 'blog' %}">BLOG</a>
									</li>
									<li>
                                        <a href="{% url 'contact' %}">CONTACT</a>
                                    </li>
								</ul>
							</nav>
						</div>
						<div class="pull-right">
							<div class="button-style-1 margint45">
								<a href="{% url 'reservation' %}"><i class="fa fa-calendar"></i>BOOK NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>